*{
    font-family: 'Nunito Sans', sans-serif;
}
.header-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    height: 15vh;
}
.main-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: grey;

}
.filters-block{
    background-color: lime;
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.cards-css{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 75vh;
    padding: .5rem;
}
.card{
    width: 30vw;
    height: 35vh;
}
.card-img-top{
    height: 46%;
}
.filters-block{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 75vh;
}

.footer-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    height: 10vh;
}
.footer-block > h3 > a{
    color:white;
    text-transform: capitalize;

}